AUTH_SERVICE_URL=http://localhost:8081
DBADMIN_SERVICE_URL=http://localhost:8091
SECRETSADMIN_SERVICE_URL=http://localhost:8092
TEMPLATESADMIN_SERVICE_URL=http://localhost:8093
LAUNCHER_SERVICE_URL=http://localhost:8094
PORT=3000
